name: Build & Push Containers

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push Spring Boot container
        working-directory: backend
        run: |
          docker build -t pioneerpicks-springboot .
          docker tag pioneerpicks-springboot:latest 908519937043.dkr.ecr.us-west-1.amazonaws.com/pioneerpicks-springboot:latest
          docker push 908519937043.dkr.ecr.us-west-1.amazonaws.com/pioneerpicks-springboot:latest

      - name: Build & Push Node container
        working-directory: node-for-discord
        run: |
          docker build -t pioneerpicks-node .
          docker tag pioneerpicks-node:latest 908519937043.dkr.ecr.us-west-1.amazonaws.com/pioneerpicks-node:latest
          docker push 908519937043.dkr.ecr.us-west-1.amazonaws.com/pioneerpicks-node:latest
